body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

textarea {
  width: 45vw;
  height: 80%;
  background-color: aliceblue;
}

#app {
  display: flex;
  height: 60vh;
}

#input {
  padding: 2vh;
}

#feedback {
  font-family: monospace;
  font-weight: bold;
  padding: 2vh;
}

.suggestion {
  background-color: whitesmoke;
  border-bottom: 1px solid orange;
}

.suggestion:hover {
  font-weight: bold;
}
